.git
.gitignore
.DS_Store
.env
**/.venv
**/.pytest_cache
**/.ruff_cache
**/__pycache__
**/*.pyc
**/*.egg-info
**/node_modules
**/dist
logs
examples/thing-descriptions
.next
*.tsbuildinfo
next-env.d.ts
